<a href="https://colab.research.google.com/github/tbonne/IntroDataScience/blob/main/InClassNotebooks/IntroPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



<img src='http://drive.google.com/uc?export=view&id=1qaKkjdduZW96yCyFyPKRK8J0Pfem4Ldk'>

# Short introduction to Python

In this course you'll learn python, but rather than gain a wide perspective we will learn what we need to know to run through the data science wrokflow, and build on python along the way

That said let's learn some basics to help us get started!

## Data types in Python

First we will explore the main kinds of data types you can have in python:
1. **Integers** (1,2,3,4)
2. **Floats** (1.2, 2.3, 5.6)
3. **Boolean** (True / False)
4. **String** ('this is a string')
5. **Lists** ('oneString', 'twoString') or (1,2,3,4) or (1.2, 2.3, 5.6) or...

In [1]:
#This is an integer
c1 = 1

#this is an float
c2 = 1.2

#this is a boolean
c3 = True

#this is a string
c4 = "oneString"

#this is a list
c5 = ["oneString", "twoString", "threeString"]

We can do simple mathematical opperations with the different data types:

In [2]:
c1 - c2
c1 + c2
c1 * c2
c1 / c2

0.8333333333333334

As well as ask questions about relative size:

In [ ]:
c1 > c2
c1 <= c2

True

Try doing something that you know should not work. The error message points to the line where the error occured, and tries to help you figure out what went wrong (stack overflow link).

In [ ]:
c4 + c1

TypeError: ignored

### **Lists**

We'll take a closer look at lists as they will come in very handy throughout the course.

#### Indexing
 
Indexing is where you'd like to get a value out of a list, or change one value in the list.

In [3]:
#create list
x = ['apples','oranges']

Grabing one value:

In [4]:
#take a look at the first value in the array (note: starts at 0 index)
x[0]

'apples'

Modifying the first value:

In [5]:
#assign a new value!
x[0] = 'watermelon'

#how has it changed?
x

['watermelon', 'oranges']

#### Slicing

> Slicing a list is where you'd like to get a few values from a list, or modify a few values in the list

> To do slicing on a list we use **x2[start:stop:step]**

Let's make a list of numbers:

In [6]:
#create a list of numbers 
x2 = [0,1,2,3,4,5,6,7,8,9]

#take a look
x2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Now when we want to grab a few numbers we can use slicing

In [7]:
#get the first three values (Note: we did not specify the 'step' size so it defaults to use 1)
x2[0:3]

[0, 1, 2]

In [8]:
#get everything after the third value
x2[3:]

[3, 4, 5, 6, 7, 8, 9]

<img src='http://drive.google.com/uc?export=view&id=1WC4tXGCEF-1_2LQ74gIxJAZ-GLXCwBdK' width="100">    
Try and select only the values 5 to 7

In [ ]:
x2[?:?]

## Further reading

> There are lot's of resources out there to supplement this introduction to python. One good resource is the book by Jake VanderPlas: [Python data science handbook](https://jakevdp.github.io/PythonDataScienceHandbook/).

> In this course we will build slowly on our python skills. Each new challendge in developing our data science workflow will require learning new bits of python code. The idea here is that you'll learn python through applied examples.