<a href="https://colab.research.google.com/github/tbonne/IntroDataScience/blob/main/InClassNotebooks/IntroData3_MissingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='http://drive.google.com/uc?export=view&id=100E8FHwZxTg2d27HMWeXf05Av4IIqXT9' width="300" align = 'left'>

# <font color='lightblue'>Missing Data</font>

In this exercise we will learn how to handle missing data. 

Outline:
*  How to find missing data
*  How to remove missing data (if appropriate!)

## <font color='lightblue'>Load Data</font>

<img src='http://drive.google.com/uc?export=view&id=1WC4tXGCEF-1_2LQ74gIxJAZ-GLXCwBdK' width="100" align = 'left'>

First load in the pandas library and bring in the NYC flight data

In [ ]:
#Import pandas library
??

#read in the NYC flight data
df_flights = ??

Give a thumbs up in Slack once your done!

# <font color='lightblue'>Identifying Missing Data</font>

Most data that you'll find will have missing values, or values that cannot be true (i.e., errors). Here we will look at how to find missing values, and how to handle them.

Below we use the method **isna()** to identify cells in the dataframe where the values are **NA**. We use the sum function ontop of the **isna** method to count the number of **NA** values.

> Note: when you combine methods in this way the outputs of the first (going left to right) act as inputs for the second. This is called method chaining, and we will use it with pandas objects!

In [ ]:
#count Null values for each column of the dataframe
df_flights.isna().sum()

Unnamed: 0         0
year               0
month              0
day                0
dep_time          28
sched_dep_time     0
dep_delay         28
arr_time          31
sched_arr_time     0
arr_delay         47
carrier            0
flight             0
tailnum            6
origin             0
dest               0
air_time          47
distance           0
hour               0
minute             0
time_hour          0
dtype: int64

So we can see that there are not that many missing values in this dataframe. Let's take a look at how many rows of data we have:

In [ ]:
len(df_flights)

3614

And at what proportion of data is missing:

In [ ]:
df_flights.isnull().sum() / len(df_flights)

Unnamed: 0        0.000000
year              0.000000
month             0.000000
day               0.000000
dep_time          0.007748
sched_dep_time    0.000000
dep_delay         0.007748
arr_time          0.008578
sched_arr_time    0.000000
arr_delay         0.013005
carrier           0.000000
flight            0.000000
tailnum           0.001660
origin            0.000000
dest              0.000000
air_time          0.013005
distance          0.000000
hour              0.000000
minute            0.000000
time_hour         0.000000
dtype: float64

We can take a look at these missing values within the dataframe by opening the dataframe in colab (Files - dubble click on the file - then filter by NA)

So we can see in this dataset there is very little in the way of missing data! But what should we do with those data entries? We could:

1. Understand how/why they are missing (data story!)
1. Remove those data entries (missing at random?)
2. Fill them in with estimates (impute the missing data)

# <font color='lightblue'>Drop Missing Data</font>

Below we will remove the rows with missing data in one column. So if there is no data in this column then it will remove that entire row from the data.

In [ ]:
#drop rows if air time contains missing values
df_flights_airtime_na = df_flights[df_flights.air_time.isna()==False]

#take a look at the new length of the dataframe
len(df_flights_airtime_na)

3567

It is also possible to remove any row that has missing values.

In [ ]:
#drop rows if any column contain missing values
df_flights_sub_na = df_flights.dropna(how='any')

len(df_flights_sub_na)

3567

<img src='http://drive.google.com/uc?export=view&id=1WC4tXGCEF-1_2LQ74gIxJAZ-GLXCwBdK' width="100" align = 'left'>

Try removing all the rows with NAs in arr_time.

In [ ]:
#drop rows if arrival time contains missing values
df_flights_arr_time_na = ?

#check the length

# <font color='lightblue'>Add column of missingness</font>

Here the idea is that missing data might be useful for making predictions. Let's add another column to the DataFrame to identify missing data in *air time*.

> Here we use method chaining to select a column 'air_time', see if each row has an NA value. This gives us true and false values for each row.

In [ ]:
#create new column with true/false if there is missing data in air time
df_flights['missingAirTime'] = df_flights.air_time.isna()

#take a look 
df_flights

      Unnamed: 0  year  month  ...  minute            time_hour  missingAirTime
0              1  2013      1  ...      15  2013-01-01 05:00:00               0
1              2  2013      1  ...      29  2013-01-01 05:00:00               0
2              3  2013      1  ...      40  2013-01-01 05:00:00               0
3              4  2013      1  ...      45  2013-01-01 05:00:00               0
4              5  2013      1  ...       0  2013-01-01 06:00:00               0
...          ...   ...    ...  ...     ...                  ...             ...
3609        3610  2013      1  ...      30  2013-01-04 18:00:00               1
3610        3611  2013      1  ...      20  2013-01-04 09:00:00               1
3611        3612  2013      1  ...      45  2013-01-04 12:00:00               1
3612        3613  2013      1  ...      30  2013-01-04 14:00:00               1
3613        3614  2013      1  ...      30  2013-01-04 15:00:00               1

[3614 rows x 21 columns]

Let's add one more step to that method chain, and convert the true false into integers. To do so we'll add the method **asType('int')**, which converts the true/false into 1/0.

In [ ]:
#create new column with true/false if there is missing data in air time
df_flights['missingAirTime'] = df_flights.air_time.isna().astype('int')

#take a look 
df_flights

      Unnamed: 0  year  month  ...  minute            time_hour  missingAirTime
0              1  2013      1  ...      15  2013-01-01 05:00:00               0
1              2  2013      1  ...      29  2013-01-01 05:00:00               0
2              3  2013      1  ...      40  2013-01-01 05:00:00               0
3              4  2013      1  ...      45  2013-01-01 05:00:00               0
4              5  2013      1  ...       0  2013-01-01 06:00:00               0
...          ...   ...    ...  ...     ...                  ...             ...
3609        3610  2013      1  ...      30  2013-01-04 18:00:00               1
3610        3611  2013      1  ...      20  2013-01-04 09:00:00               1
3611        3612  2013      1  ...      45  2013-01-04 12:00:00               1
3612        3613  2013      1  ...      30  2013-01-04 14:00:00               1
3613        3614  2013      1  ...      30  2013-01-04 15:00:00               1

[3614 rows x 21 columns]

<img src='http://drive.google.com/uc?export=view&id=1WC4tXGCEF-1_2LQ74gIxJAZ-GLXCwBdK' width="100" align = 'left'>

Try adding a column of missingness for plane tail number (i.e., tailnum).

In [ ]:
#create new column with 1/0 if there is missing data in tailnum
df_flights[?] = ?

#take a look
?

# <font color='lightblue'>Further reading</font>

There are many ways to deal with [missing data with pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html). Just remember that some ways are more justifyable than others, and a good understanding of how the data came to be is key in deciding which ways might work best.