<a href="https://colab.research.google.com/github/tbonne/IntroDataScience/blob/main/InClassNotebooks/IntroData2_LoadingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='http://drive.google.com/uc?export=view&id=1FZW6_R4T8PailZCgLSdNTZLIDoAG9VM5' width="300" align = 'left'>

# <font color='lightblue'>Using existing data</font>

In this exercise we will start working with some real data. We will first learn how to load in data, then test out what you've learnt about DataFrames.

Outline:
*   Load in data
*   Explore the dataframe
*   Manipulate the dataframe

In [3]:
#Load in pandas
import pandas as pd

## <font color='lightblue'>Loading data</font>

There are many ways to load in datasets, here we'll look at two methods.

But first let's get the data:
> Goto the shared [data folder](https://drive.google.com/drive/folders/1s2Civxvys_SR1sFF7D2ept1GSmFbICQb?usp=sharing) for the class and download nyc_flight_data.csv

Let's then load in the flights data using a function from pandas called *read_csv*.

Option 1 - load from temporary folder (easier but not permanent). 
1. Drag and drop the data into the files tab on the left. 
2. Then right click and copy the path.
3. Then paste the path into the pd.read_csv(PATH_HERE)

In [6]:
#load in the nyc flight data
df_flights = pd.read_csv('/content/nyc_flight_data.csv')

Option 2 - load from your google drive
1. mount your google drive

In [ ]:
#mount your google drive
from google.colab import drive
drive.mount('/content/gdrive')

2. Use the files tab on the left to find the file you like to load 
3. Right click on the file and copy the path
4. Paste the path into the pd.read_csv()

In [ ]:
##load in the nyc flight data 
df_flights = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/DataScience/dataDSI/nyc_flight_data.csv')

## <font color='lightblue'>Exploring the dataframe</font>

Now that we have the dataset loaded, let's take a look at it. Let's first look at it's shape.

In [8]:
df_flights.shape

(3614, 20)

Here we can get a quick look the dataframe using the **head** method.

In [14]:
df_flights.head(5)

   Unnamed: 0  year  month  day  ...  distance  hour  minute            time_hour
0           1  2013      1    1  ...      1400     5      15  2013-01-01 05:00:00
1           2  2013      1    1  ...      1416     5      29  2013-01-01 05:00:00
2           3  2013      1    1  ...      1089     5      40  2013-01-01 05:00:00
3           4  2013      1    1  ...      1576     5      45  2013-01-01 05:00:00
4           5  2013      1    1  ...       762     6       0  2013-01-01 06:00:00

[5 rows x 20 columns]

Or if you like a little more options you can use the folowing to help visualize the table better.

In [10]:
%load_ext google.colab.data_table

Now try looking at your dataframe again.

In [13]:
df_flights.head(5)

   Unnamed: 0  year  month  day  ...  distance  hour  minute            time_hour
0           1  2013      1    1  ...      1400     5      15  2013-01-01 05:00:00
1           2  2013      1    1  ...      1416     5      29  2013-01-01 05:00:00
2           3  2013      1    1  ...      1089     5      40  2013-01-01 05:00:00
3           4  2013      1    1  ...      1576     5      45  2013-01-01 05:00:00
4           5  2013      1    1  ...       762     6       0  2013-01-01 06:00:00

[5 rows x 20 columns]

We can also see what kinds of variables are in the dataframe by using the **dtype** method:

In [15]:
#find the data types
df_flights.dtypes

Unnamed: 0          int64
year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

We can get a quick description of the numeric data using the **describe** method:

In [16]:
df_flights.describe()

        Unnamed: 0    year   month  ...     distance         hour       minute
count  3614.000000  3614.0  3614.0  ...  3614.000000  3614.000000  3614.000000
mean   1807.500000  2013.0     1.0  ...  1049.573326    13.229662    26.115661
std    1043.416264     0.0     0.0  ...   719.806780     4.673016    19.205890
min       1.000000  2013.0     1.0  ...    80.000000     5.000000     0.000000
25%     904.250000  2013.0     1.0  ...   529.000000     9.000000     9.000000
50%    1807.500000  2013.0     1.0  ...   944.000000    14.000000    29.000000
75%    2710.750000  2013.0     1.0  ...  1389.000000    17.000000    44.750000
max    3614.000000  2013.0     1.0  ...  4983.000000    23.000000    59.000000

[8 rows x 15 columns]

We can also take a look at the dataframe by double clicking on the nycflights.csv file in the files tab on the left. This gives us a more dynamic view as we can use filter to explore the data a little more.
Try filtering for carrier: e.g., AA

## <font color='lightblue'>Manipulate the dataframe</font>

Let's now use your new found skills to answer some questions!

<img src='http://drive.google.com/uc?export=view&id=1WC4tXGCEF-1_2LQ74gIxJAZ-GLXCwBdK' width="100" align = 'left'>

Make a dataframe with only carrier, arr_delay, dep_delay, and air_time as columns.

In [ ]:
#keep only the a subset of columns
df_flights_sub = df_flights.loc[? ,?  ]  #Warning: the column names will be case sensitive!

#take a look at the new dataframe
?

  carrier  arr_delay  dep_delay  air_time
0      UA       11.0        2.0     227.0
1      UA       20.0        4.0     227.0
2      AA       33.0        2.0     160.0

Make a dataframe of all flights that have an arrival delay of greater than 60min

In [ ]:
#keep only the rows with arr_delay of greater than 60 minutes
df_flights_delayed60 = df_flights[?]

#What is the shape of this new dataframe
?

Can you also calculate how many flights arrived earlier than expected (i.e., where the plane arrived before the scheduled arrival time).

In [ ]:
#keep only the rows with arr_delay less than 0 minutes (i.e., negative delay!)

#what is the shape of this new dataframe

Finally can you express these numbers as percentages?

In [ ]:
#percentage of flights delayed more than 60mins, i.e., number delayed rows / number total rows

In [ ]:
#percentage of flights arriving before scheduled time, i.e., number early rows / number total rows

Post to slack once you've got an answer!

# <font color='lightblue'>Further reading</font>

The many ways to work with [data in colab](https://neptune.ai/blog/google-colab-dealing-with-files).